<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf8" />
        <title>Envoi réussi</title>
    </head>

    <body>
        Votre fichier <b><%= filename %></b> a bien été réceptionné.

        <a href="/dashboard">Retour au dashboard</a>
    </body>

</html>
